{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'lipquiz/quiz.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <b>Quiz: {{obj.name}}</b>
    </div>
    <br>

    <a href="{% url 'lipquiz:lip-quiz-view' %}" class="btn btn-danger">Go back</a>

    <form id='quiz-form' class='mt-3 mb-3'>
        {% csrf_token %}
        <div id="quiz-box"></div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

<div id="score-box"></div>
<div id="time-box"></div>
<div id="replays-box"></div>
<div id="result-box"></div>
{% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to attempt the Quiz</p>
{% endif %}
{% endblock content %}