<h1 class="heading">Select lipreading training protocol</h1>
{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script src="{% static 'selection_pages/protocol_selection.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{% static 'selection_pages/style.css' %}"/>

<a href="{% url 'selection_pages:landing-surrogate' %}" class="btn btn-danger goback">Go back</a>

<div class="protocol_selection_wrapper">
  <div class="protocol_selection_label_wrapper">
    <label class="protocol_selection_label">
      <span class="protocol_name">Lipread<br>Words</span>
      <input type="radio" name="test" value="lipread_words" class="ans" checked>
      <img src="static/images/lipread_words.png" alt="Lipread isolated words">
    </label>
    
    <label class="protocol_selection_label">
      <span class="protocol_name">Lipread<br>Sentences</span>
      <input type="radio" name="test" value="lipread_sentences" class="ans">
      <img src="static/images/lipread_sentence.png" alt="Lipread sentence with context">
    </label>

    <label class="protocol_selection_label">
      <span class="protocol_name">Lipread Missing Words in Sentences</span>
      <input type="radio" name="test" value="lipread_missing" class="ans">
      <img src="static/images/lipread_missing.png" alt="Lipread missing words in sentences">
    </label>
  </div>

    <!-- The url selected depends on the radiobutton that was selected before submit -->

    <!-- <button id='protocol_select_button' onclick="location.href = '/quizzes'">Click</button> -->
    <br/>
    <button id='protocol_select_button' class="btn btn-primary mt-3 submit-quiz-btn">Submit</button>
  </div>

  <!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to view the Quizzes</p>
  {% endif %}
  {% endblock content %}